* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(166, 239, 239, 0.685);
}

.main__container {
  display: flex;
  flex-direction: column;
}

.app__title {
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.app__description {
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
}

.new__book__btn {
  font-size: 3rem;
  padding: 2rem 3rem;
  align-self: center;
  margin-top: 2rem;
  border-radius: 5rem;
  color: #fff;
  background-color: rgb(59, 125, 166);
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new__book__btn:hover {
  background-color: rgb(49, 109, 147);
  transition: background-color 0.3s;
}

.form {
  background-color: #fff;
  width: fit-content;
  padding: 10rem 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.form label {
  font-size: 5rem;
}

.form input {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0;
  border-bottom: 1px solid #444;
}

.input__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.checkbox__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.checkbox__label {
  font-size: 3rem;
}

.checkbox {
  width: 2.5rem;
  height: 2.5rem;
}

.submit__btn {
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 600;
  background-color: rgb(59, 125, 166);
  border: 0;
  transition: background-color 0.3s;
}

.submit__btn:hover {
  background-color: rgb(49, 109, 147);
  transition: background-color 0.3;
  cursor: pointer;
}

.cross__icon {
  font-size: 3rem;
  align-self: flex-end;
  margin-bottom: 3rem;
  color: #fff;
  background-color: rgb(59, 125, 166);
  padding: 1.5rem;
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cross__icon:hover {
  background-color: rgb(49, 109, 147);
  transition: background-color 0.3s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}
.books__list {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  gap: 2rem;
}

.list__item {
  background-color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;
  border-radius: 5rem;
}

.book__title {
  font-size: 4rem;
}

.book__author {
  font-size: 3rem;
  margin: 2rem 0;
}

.book__btn__container {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.book__info__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book__btn {
  font-size: 2rem;
  /* width: 10rem; */
  /* height: 4rem; */
  padding: 0.8rem 2rem;
  border-radius: 5rem;
  color: #fff;
  background-color: rgb(59, 125, 166);
  border: 0;
  transition: background-color 0.3s;
  cursor: pointer;
}

.book__btn:hover {
  background-color: rgb(49, 109, 147);
  transition: background-color 0.3s;
}

.edit__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.edit__input {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
