* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(166, 239, 239, 0.685);
}

.main__container {
  display: flex;
  flex-direction: column;
}

.app__title {
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.app__description {
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
}

.new__book__btn {
  font-size: 3rem;
  padding: 2rem 3rem;
  align-self: center;
  margin-top: 2rem;
  border-radius: 5rem;
  color: #fff;
  background-color: rgb(59, 125, 166);
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new__book__btn:hover {
  background-color: rgb(49, 109, 147);
  transition: background-color 0.3s;
}
